#success-modal section {
  display: flex;
  flex-direction: column;

  padding: 32px 48px;

  justify-content: center;
  align-items: center;

  gap: 0px;

  background-color: var(--color-neutral-60);

  width: 351px;
  height: 242px;
}

#success-modal section h5 {
  color: var(--color-neutral-110, #515255);
  text-align: center;
}

#success-modal section .submit-button {
  width: 210px;
}

.done-icon-container {
  border-radius: 100%;
  background-color: var(--color-success-110);

  margin-top: 24px;
  margin-bottom: 24px;

  width: 40px;
  height: 40px;

}

.done-icon-container span {
  color: var(--color-neutral-60);
  font-size: 40px;

  text-align: center;
  align-self: center;
}