:root {
  /* Primary Color Palette */
  --color-principal-70: #EDEFF2;
  --color-principal-80: #444466;
  --color-principal-90: #222244;
  --color-principal-100: #111133;

  /* Secondary Color Palette */
  --color-secondary-60: #FFEECC;
  --color-secondary-70: #FFCC99;
  --color-secondary-80: #FFAA66;
  --color-secondary-90: #FF8833;
  --color-secondary-100: #FF5522;
  --color-secondary-110: #CC4400;
  --color-secondary-120: #993300;
  --color-secondary-130: #662200;

  /* Neutral Color Palette */
  --color-neutral-60: #FCFDFF;
  --color-neutral-70: #E6E9F2;
  --color-neutral-80: #C2C4CC;
  --color-neutral-90: #A1A3AA;
  --color-neutral-100: #818388;
  --color-neutral-110: #515255;
  --color-neutral-120: #303133;
  --color-neutral-130: #0B0C0D;

  /* Support Colors */

  /* Success Color pallete */
  --color-success-60: #EEFFBB;
  --color-success-70: #BBEE88;
  --color-success-80: #88CC66;
  --color-success-90: #55BB44;
  --color-success-100: #229922;
  --color-success-110: #118822;
  --color-success-120: #006622;
  --color-success-130: #004422;

  /* Alert Color Palette */
  --color-alert-60: #FFFFCC;
  --color-alert-70: #FFEE99;
  --color-alert-80: #FFEE66;
  --color-alert-90: #FFDD33;
  --color-alert-100: #FFCC00;
  --color-alert-110: #CC9900;
  --color-alert-120: #997700;
  --color-alert-130: #664400;

  /* Error Color Palete */
  --color-error-60: #FFDDCC;
  --color-error-70: #FFAA99;
  --color-error-80: #FF7766;
  --color-error-90: #FF4433;
  --color-error-100: #DD0000;
  --color-error-110: #BB0000;
  --color-error-120: #880000;
  --color-error-130: #660000;

  /* Info Color Palette */
  --color-info-60: #ADCBFA;
  --color-info-70: #82A9F0;
  --color-info-80: #608AE1;
  --color-info-90: #315FCE;
  --color-info-100: #2348B1;
  --color-info-110: #183594;
  --color-info-120: #0F2477;
  --color-info-130: #091862;

  /* Button properties */
  --action-disabledBackground: rgba(0, 0, 0, 0.12);
  --borderRadius: 4px;
}

.subtitle1 {
  color: var(--color-neutral-130, #0B0C0D);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  letter-spacing: 0.15px;
}

/* [Orange P] Style Guide/Subtitle 2 */
.subtitle2 {
  color: var(--color-neutral-130, #0B0C0D);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  letter-spacing: 0.1px;
}

/* [Orange P] Style Guide/Label */
.label {
  color: var(--color-neutral-130, #0B0C0D);
  font-feature-settings: 'clig' off, 'liga' off;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  letter-spacing: 0.15px;

}

/* [Orange P] Style Guide/Body 1 */
.body-text1 {
  color: var(--color-neutral-130, #0B0C0D);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  letter-spacing: 0.5px;
}

/* [Orange P] Style Guide/Body 2 */
.body-text2 {
  color: var(--color-neutral-130, #0B0C0D);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  letter-spacing: 0.25px;
}

/* [Orange P] Style Guide/Caption */
.caption {
  color: var(--color-neutral-130, #0B0C0D);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  letter-spacing: 0.4px;
}

/* [Orange P] Style Guide/Overline */
.overline {
  color: var(--color-neutral-130, #0B0C0D);

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;

  letter-spacing: 1.5px;
}

/* [Orange P] Style Guide/Button */
.button-text {
  color: var(--color-neutral-130, #0B0C0D);

  font-feature-settings: 'clig' off, 'liga' off;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.submit-button {
  border-radius: var(--borderRadius);
  --md-sys-color-primary: var(--color-secondary-100);
  --md-sys-color-on-primary: var(--color-neutral-60);

  padding: 8px 22px;
}

.disabled-button {
  border-radius: var(--borderRadius);
  --md-sys-color-primary: var(--action-disabledBackground);
  --md-sys-color-on-primary: var(--action-disabled, rgba(0, 0, 0, 0.38));

  padding: 8px 22px;

}