* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.figure {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.figure img {
  width: 100%;
  height: 100%;
}

.card {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#success {
  background-color: #2e7d32;
  width: 320px;
  height: 52px;
  top: 77px;
  border-radius: 4px;
  padding: 6px 16px 6px 16px;
  margin-bottom: 70px;
  color: #FFFFFF;
  visibility: hidden;
}

.success img {
  position: absolute;
  width: 34px;
  height: 36px;
  color: #FFFFFF;
}

.success p {
  text-align: center;
  padding: 10px;
}

.header {
  color: var(--color-principal-90);
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
  margin-bottom: 40px;
  width: auto;
  text-align: center;
}

.form-control {
  position: relative;
  padding-bottom: 10px;
}

.form-control input {
  width: 517px;
  height: 56px;
  margin-top: 2px;
  outline: none;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  border: 1px solid hsla(0, 0%, 0%, 0.230);
}


.names {
  display: flex;
  column-gap: 17px;
}

.names input {
  width: 250px;
}


.label-input {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.4;
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
  color: var(--color-neutral-100);
}

.input-box:focus+.label-input,
.input-box:valid+.label-input {
  top: -5px;
  font-size: 10px;
  transition: .5s;
  background-color: var(--color-neutral-60);
}

#passwordVisibilityIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: url(../../static/images/show.svg);
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#passwordVisibilityIcon.hide {
  background: url(../../static/images/hide.svg);
  background-size: cover;
}

.button-register {
  border-radius: 4px;
  width: 517px;
  height: 42px;
  top: 10px;
  padding: 8px 22px 8px 22px;
  background-color: var(--color-secondary-100);
  text-transform: uppercase;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-neutral-60);
  font-size: 15px;
  line-height: 26px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .200);
  letter-spacing: 0.46px;
}

.button-register:hover {
  background-color: var(--color-secondary-110);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
}

@media screen and (max-width: 1100px) {
  .figure {
    display: none;
  }

  .container {
    width: 100%;
  }

  .header {
    font-size: 38px;
    line-height: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  .header {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card {
    width: 312px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 16px;
  }

  .form-control input {
    width: 312px;
    height: 42px;
  }

  .button-register {
    width: 312px;
    height: 42px;
  }

  a {
    font-size: 16px;
  }

  .label-input {
    font-size: 14px;
    top: 15px;
  }

  .names {
    display: block;
  }

  .success {
    width: 312px;
    height: 52px;
    top: 49px;

  }
}